@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
// font-family: 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@300;400;500&display=swap');
// font-family: 'Noto Serif Bengali', serif;


// 300 = light
// 400 regular
// 500 == medium
// 600 == semi-bold
// 700 == bold

/* ====== VARIÁVEIS ====== */
    // CORES
        $cor-primaria-forte: #8A4FFF;
        $cor-primaria-escura: #6F3DD1;
        $cor-primaria-clara: #A77BFF;

        $cor-preta-forte: #0C0C0C;
        $cor-preta-escuro: #262626;
        $cor-preta-claro: #161616;

        $cor-branca: #F6F8FF;

    // TIPOGRAFIA

        // headings

            h1 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 700;
                font-size: 3.9rem;
            }

            h2 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                font-size: 3.4rem;
            }

            h3 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                font-size: 3rem;
            }

            h4 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 2.8rem;
            }

            h5 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 2.4rem;
            }

            h6 {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 2rem;
            }

        // body

            p, body {
                font-family: 'Noto Serif Bengali', serif;
                font-weight: 400;
                font-size: 1.6rem;
            }

            .body-small {
                font-size: 1.4rem;
            }
            
            .body-large {   
                font: 2.2rem;
            }

        // caption

            span, .caption {
                font-family: 'Noto Serif Bengali', serif;
                font-weight: 500;
                font-size: 1.7rem;
            }

            .caption-small {
                font-size: 1.4rem;
            }

            .caption-large {
                font-size: 2rem;
            }

        // button

            button {
                font-family: 'Quicksand', sans-serif;
                font-weight: 500;
                font-size: 1.9rem;
            }

            .button-small {
                font-size: 1.6rem;
            }

            .button-large {
                font-size: 2.2rem;
            }

        // link

            a {
                font-family: 'Noto Serif Bengali', serif;
                font-weight: 400;
                font-size: 2rem;
            }

            .link-small {
                font-size: 1.7rem;
            }

            .link-large {
                font-size: 2.3rem;
            }

        // label

            label {
                font-family: 'Noto Serif Bengali', serif;
                font-weight: 300;
                font-size: 1.6rem;
            }

            .label-small {
                font-size: 1.3rem;
            }

            .label-large {
                font-size: 1.9rem;
            }

/* ====== BODY/HTML/ROOT ====== */

:root {
    font-size: 65%;
}

body {
    font-size: 1.8rem;
    background-color: $cor-preta-forte;
    color: $cor-branca;
}

/* ====== HEADER ====== */

header {
    padding: 3.6rem 2.5rem;

    .logo {
        background: linear-gradient(102deg, #A77BFF, #d13d3d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

/* ====== MAIN ====== */

main {
    padding: 0 2.5rem;

    .signIn_signUp {
        h1 {
            text-align: center;
            margin-bottom: 7rem;
        }

        .form {
            margin: 0;
            width: 46.5rem;
            margin: 5rem auto;
            display: flex;
            flex-direction: column;

            .ctr-input {
                margin: 2.5rem 0;
                height: 3rem;
                
                input {
                    width: 100%;
                    background-color: $cor-preta-forte;
                    border: 1px solid $cor-primaria-escura;
                    border-radius: 1rem;
                    padding: 1rem;
                    color: $cor-branca;
                }
    
                label {
                    font-size: 1.6rem;
                    position: relative;
                    left: 0.5rem;
                    bottom: 2.7rem;
                    background-color: $cor-preta-forte;
                    transition: 0.5s all;

                    &.click {
                        bottom: 4.5rem;
                        padding: 0 0.5rem;
                        opacity: 90%;
                    }
                }
            }
    
            button {
                width: 100%;
                background-color: $cor-primaria-escura;
                color: $cor-branca;
                padding: 0.5rem;
                border-radius: 1rem;
                margin-top: 2.5rem;
                transition: 0.5s all;

                &:hover {
                    cursor: pointer;
                    opacity: 80%;
                }
            }

            .ctr-btn-google-github {
                margin-top: 6rem;

                .separador {
                    margin-bottom: 2rem;
                    hr {
                        height: 0.1rem;
                        background-color: $cor-branca;
                    }
    
                    span {
                        background-color: $cor-preta-forte;
                        position: relative;
                        padding: 0 1rem;
                        bottom: 0.8rem;
                        left: 45%;
                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                     
                    img {
                        margin-right: 1rem;
                    }
                }

                .btn-google {
                    background-color: $cor-branca;
                    color: $cor-preta-forte;
                }

                .btn-github {
                    background-color: $cor-preta-escuro;
                    color: $cor-branca;
                }
            }
        }

    }
}

/* ====== FOOTER ====== */

footer {

}
